# Зависимости
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Кэш и сборки
.nuxt
.nitro
.cache
.output
dist

# Docker файлы
.dockerignore
docker-compose*
Dockerfile*

# Системные файлы
.git
.github
.gitignore
.DS_Store
.editorconfig
.vscode

# Тесты
coverage
.nyc_output

# Среда выполнения
.env
.env.*
!.env.example

# Логи
logs
*.log 